/* General Design Starts */

* {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #24345f;
}

html {
    scroll-behavior: smooth;
}

.main-sections {
    font-weight: 900;
}

#home, #about, #skills, #hire-me {
    width: 100%;
    min-height: 100vh;
}

.content-borders {
    height: 20%;
    width: 100%; 
    background-color: #000;
}

/* General Design Ends */


/* Navigation Starts */
#navbar {
    top: 0;
    color: aliceblue;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 10px;
    transition: background-color 0.5s ease-in-out;
    z-index: 20;
}

.navbar-colored {
    background-color: #28282B; /* Color when scrolling down */
  }

.navbar-transparent {
    background-color: transparent; /* Original color when scrolling up */
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px; 
}

nav ul li a#hireMe {
    border-bottom: 1px solid yellow;
}

/*
nav ul li a#hireMe:hover, nav ul li a#hireMe.active {
    border-bottom: none;
    border-radius: 10px;
    background-color: yellow;
    color: #2d2d2d;
} */

#hireMe:hover, #hireMe.active-navigation {
    border-bottom: none;
    border-radius: 10px;
    background-color: yellow;
    color: #2d2d2d;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: 0.4s;
}
/*
nav ul li a.nav-selection:hover {
    border-radius: 10px;
    background-color: #efefef;
    color: #24345f;
} */

.nav-selection:hover {
    border-radius: 10px;
    background-color: #efefef;
    color: #24345f;
}

.normal {
    color: #fff;
    padding: 10px;
}

.active-navigation { 
    border-radius: 10px;
    background-color: #efefef;
    color: #24345f;
    border-bottom: none;
}





/* Navigation Ends */ 

/* Home Starts */ 

#home {
    background: red;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Pictures/newLines.png);
    width: 100%;
    height: auto;
    display: table;
    background-attachment: fixed;
}

#profile-container {
    
}

#image-container {
    margin-top: 15%; /* stop-gap solution */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border: 2px solid rgb(1, 1, 227);
}

h1 {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    /*     text-shadow: 1px 1px #efefef; */ 
    color: #f9f9f9;
    font-size: 7vh;
    padding: 5px; 
    text-align: center;
}

h2 {
    font-size: 10px;
    margin: 0 auto;
    margin-bottom: 20%;
    max-width: 70%;
    text-align: center;
    padding: 5px; 
    color: #fff;
}



/* Home Ends */


/* About Starts */ 

#about {
    background-color: #efefef;
}

.about-flex-container {
    display: flex;
    justify-content: center;
}

.about-flex-container > * {
    flex: 1;
}

.about-sections {
    display: inline-block;
    margin: 40px;
    padding: 30px;
    height: 75vh;
    border-radius: 20px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.about-images {
    display: block;
    width: 20vh; 
    height: 20vh;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 5px solid rgb(69, 69, 69); 
}

.about-titles {
    font-size: 3vh;
    font-weight: 700;
    text-align: center;
    margin: 5px;
}

/* About Ends */ 


/* Skills Starts */ 

#skills {
    background-color: blue;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#skills-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in Internet Explorer 10+ */
    background-color: #fff;
    height: 75vh;
    width: 90%;
    border-radius: 20px;
}

#skills-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.skills-images {
    width: 50%; height: 50%;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid rgb(69, 69, 69);
}

.title-container {
    display: grid;
    place-items: center;
    padding: 10px;
    border: 1px solid green;
    height: 100%;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.title-container.active {
}

.title-contents {
    display: none;
    background-color: green;
    color: #fff;
}

/*
Temp, I have to put this aside for now to work on the goal.
#soft-skills, .service-container {
    flex: 0 0 auto;
    scroll-snap-align: start;
    background-color: #f3f3f3; 
    display: inline-block;
    margin: 40px;
    padding: 30px;
    height: 75vh;
    width: 50vh;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 20px 1px gray;
}

.skills-titles {
    font-size: 3vh;
    font-weight: 700;
    text-align: center;
    margin: 5px;
}
*/ 


/* Skills Ends */



/* Hire Me Starts */ 
#hire-me {
    background-color: #343434;
    height: 100vh; 
    position: relative;
}


#hire-me-container {
    color: #fff;
    margin: 0 auto;
    width: 80%;
    height: 50vh;
    padding: 10vh;
    background-color: #242424;
    border-left: 5px solid yellow;
    position: relative;
} 

#hire-me-msg, #contact-links {
    position: absolute;
    width: 40%;
    height: 40vh;
    margin: 10px;
    padding: 40px;
}

#hire-me-msg {
    left: 20px;
    background-color: red;
}

#contact-links {
    right: 20px;
    background-color: blue;
}

#contact-links a {
    display: inline-block;
}

#copyright {
    width: 100%;
    height: 10%;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-ricson {
    font-weight: 700; color: yellow;
}






/* Hire Me Ends */ 